:root {
  --background-color-dark: #2d2d2d;
  --text-color-dark: #c5c8c6;
  --border-color-dark:  rgb(255, 255, 255, 0.20);
  --background-color-light: #f5f2f0;
  --text-color-light: #2c3e50;
  --border-color-light: darkgray;
  --highlight-color-light: #7FDBFF;
  --outline-color-light: #0074D9;
  --highlight-color-dark: rgba(6, 121, 6, 0.295);
  --outline-color-dark: #008F11;
}
html {
  height: 100%;
}

body {
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "header header header"
  "code code sidebar";
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

.dark-theme {
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
  --border-color:  rgba(255, 255, 255, 0.20);
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --outline-color: var(--outline-color-dark);
  --highlight-color: var(--highlight-color-dark);
}

.default-theme {
  color: var(--text-color-light);
  background-color: var(--background-color-light);
  --border-color: rgba(39, 40, 44, 0.2);
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
  --outline-color: var(--outline-color-light);
  --highlight-color: var(--highlight-color-light);
}

header {
  grid-area: header;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  vertical-align: baseline;
}

.header-layout {
  width: 100%;
  padding: 0px 22px 0px 22px;
  display: flex;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
}
header .site-name {
  font-weight: bold;
  font-size: 24px;
  margin-right: 12px;
}
header .language-button {
  width: 100px;
}
.header-selected-language {
  display: flex;
  align-items: baseline;
  line-height: 0.85em;
}

.lang-label, .lang-btn {
  position: relative;
  width: 75px;
  padding: 3px 0px 3px 0px;
  margin-right: 20px;
  text-align: center;
  border-radius: 50px;
  border: 1px solid var(--text-color);
  background: var(--background-color);  
}

.lang-label.selected, .lang-btn.selected{
  color: var(--background-color);
  background: var(--text-color);
}
.lang-label.selected:hover {
  background: cornflowerblue;
}
main {
  grid-area: code;
  display: flex;
  margin: 0px;
  border-right: 1px solid var(--border-color);
}

.code-block > .line-numbers {
  margin-top: 0px;
}
aside {
  grid-area: sidebar;
  
}

.sidebar ul {
  padding-right: 0;
  margin: 0px 0px 0px 10px;
  list-style-type: none;
  padding-inline-start: 1px;
}
.sidebar-group-items {
  transition: height .1s ease-out;
  font-size: .95em;
  
}
element.style {
}
.sidebar-header {
  text-transform: lowercase;
  font-variant: small-caps;
  border-bottom: 1px solid var(--border-color);
}

.sidebar-h1 {
  font-weight: 400;
  font-size:2em;
  line-height: 0.85em;
  margin: 10px 0px 20px 10px;
}
.sidebar-heading {
   
    font-size: 1.1em;
    font-weight: bold;
    width: auto;
    box-sizing: border-box;
    margin: 0;

}
.sidebar-links {
  line-height: 1.5em;
  text-align: -webkit-match-parent;
}
.sidebar-link {
  padding: 3px 10px 3px 10px;
}

.top ul {
 
  padding-right: 0;
  list-style-type: none;
}

.vocab-code .code-block {
  display: inline-block;
}

.code-block {
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

#concept-list {
  margin-left: 10px;
  margin-bottom: 10px;
}

#concept-list > .code-concept:hover {
  color: cornflowerblue;
  cursor: default;
}
.sidebar-links > li:hover {
  color: var(--outline-color);
  cursor: default;
}

.selected-concept {
  box-shadow:  inset 0 0 0 2px var(--outline-color);
  background-color: var(--highlight-color);
}
.block-concept {
  display: inline-block;
}

.outline-block {
  display: inline-block;
  outline-offset: .2em;
  margin-bottom: .2em;
}

.hidden {
  display: none;
}
